<div class="container mx-auto mt-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="flex justify-center border-r-2 border-gray-600 text-center text-4xl rounded-l p-6">1</div>
      <div class="flex justify-center text-4xl border-r-2 border-gray-600 rounded-l p-6">2</div>
      <div class="flex justify-center text-4xl border-r-2 border-gray-600 rounded-l p-6">3</div>
      <div class="flex justify-center text-4xl rounded-l p-6">4</div>
    </div>
  </div>

