<!-- <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Contatti</h3>
          <p>Indirizzo: Via Monti 1, Rovereto</p>
          <p>Telefono: 0123 456789</p>
          <p>Email: viktor.zamboni@marconirovereto.it</p>
        </div>
        <div class="col-md-4">
          <h3>Link utili</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Chi siamo</a></li>
            <li><a href="#">Prodotti</a></li>
            <li><a href="#">Contatti</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
 -->
 <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

 <footer
 class="fixed bottom-0 left-0 z-20 w-full p-4 bg-gray-100 border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6">
 <span class="text-sm text-gray-300 sm:text-center">© 2023 <a href="https://www.marconirovereto.it/"
         class="hover:underline">Marconi Rovereto</a>. All Rights Reserved.
 </span>
 <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-300 sm:mt-0">
     <li class="mr-4">
         <a routerLink="about" (click)="servizio.cambiaStile(1)">About</a>
     </li>
     <li>
         <a href="https://www.marconirovereto.it/documenti/privacy-2">Privacy Policy</a>
     </li>
     <li>
    </ul>
</footer>


